<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="card">
        <h4 class="card-header center text-primary">Angular Chat powered by ChatGPT</h4>
        <div class="card-body">
          <h6 class="card-title text-success center">
            Welcome to Angular ChatGPT. Please, feel free to ask anything!
          </h6>
          <div class="row">
            <div class="col-md-12">
              <br>
              <textarea row="3" cols="15" class="form-control" [(ngModel)]="promptText"
                placeholder="Ask, me, please!"></textarea>
              <br>
              <button class="btn btn-primary push-right" (click)="search()">Send</button>
            </div>
          </div>
          <div class="row">
            @if (isLoading()) {
              <div class="spinner">Loading...</div>
            } @else if (!isLoading()) {
              <div class="col-md-10 mt-3">
                <div class="bg-light p-3 w-100" style="white-space: pre-wrap; word-break: break-word;">
                  {{ output() }}
                </div>
                @if (output()) {
                  <a
                    class="btn btn-success mt-2"
                    [attr.href]="getWhatsappShareLink()"
                    target="_blank"
                  >
                    Share via Whatsapp
                  </a>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
